*.iml
.gradle/
/marsMulti/local.properties
.idea/
.DS_Store
build/
/marsMulti/captures
obj/

*.swp
*.pyc
xcuserdata
xcshareddata

/marsMulti/libraries/*/
/marsMulti/*/libs/
!/marsMulti/boost/libs/
/samples/iOS/iOSDemo/Kernel/MarsLib/
/samples/iOS/iOSDemoXlog/Kernel/MarsLib/
/samples/iOS/XloggerSwiftDemo/Kernel/MarsLib/
/samples/Mac/Kernel/MarsLib/
/samples/android/xlogSample/app/src/main/jni/export_include/*.so

#!/marsMulti/libraries/mars_android_sdk/
/marsMulti/app/win32proj/Debug/*.idb
/marsMulti/app/win32proj/Debug/*.log
/marsMulti/app/win32proj/Debug/*.pdb
/marsMulti/app/win32proj/Debug/app.tlog/*.tlog
/marsMulti/app/win32proj/Debug/app.tlog/*.lastbuildstate
/marsMulti/app/win32proj/Debug/*.obj
/marsMulti/baseevent/win32proj/Debug/*.idb
/marsMulti/baseevent/win32proj/Debug/*.log
/marsMulti/baseevent/win32proj/Debug/*.pdb
/marsMulti/baseevent/win32proj/Debug/baseevent.tlog/*.tlog
/marsMulti/baseevent/win32proj/Debug/baseevent.tlog/*.lastbuildstate
/marsMulti/baseevent/win32proj/Debug/baseevent.tlog/*
/marsMulti/baseevent/win32proj/Debug/*.obj
/marsMulti/boost/Debug/*.log
/marsMulti/boost/Debug/boost.tlog/*.tlog
/marsMulti/boost/Debug/boost.tlog/*.lastbuildstate
/marsMulti/boost/Debug/boost.tlog/*
/marsMulti/boost/Debug/*.obj
/marsMulti/boost/Debug/*.idb
/marsMulti/boost/Debug/*.pdb
/marsMulti/comm/win32proj/Debug/*.obj
/marsMulti/comm/win32proj/Debug/*.idb
/marsMulti/comm/win32proj/Debug/*.log
/marsMulti/comm/win32proj/Debug/*.pdb
/marsMulti/comm/win32proj/Debug/comm.tlog/*.tlog
/marsMulti/comm/win32proj/Debug/comm.tlog/*.lastbuildstate
/marsMulti/comm/win32proj/Debug/comm.tlog/*
/marsMulti/log/win32proj/Debug/*.obj
/marsMulti/log/win32proj/Debug/*.idb
/marsMulti/log/win32proj/Debug/*.log
/marsMulti/log/win32proj/Debug/*.pdb
/marsMulti/log/win32proj/Debug/log.tlog/*.tlog
/marsMulti/log/win32proj/Debug/log.tlog/*.lastbuildstate
/marsMulti/log/win32proj/Debug/log.tlog/*
/samples/win32test/Debug/*.obj
/samples/win32test/Debug/*.idb
/samples/win32test/Debug/*.pdb
/samples/win32test/Debug/*.log
/samples/win32test/Debug/*.pch
/samples/win32test/Debug/win32test.tlog/*.tlog
/samples/win32test/Debug/win32test.tlog/*
/samples/win32test/Debug/win32test.tlog/*.lastbuildstate
/marsMulti/sdt/win32proj/Debug/*.idb
/marsMulti/sdt/win32proj/Debug/*.log
/marsMulti/sdt/win32proj/Debug/*.pdb
/marsMulti/sdt/win32proj/Debug/sdt.tlog/*.tlog
/marsMulti/sdt/win32proj/Debug/sdt.tlog/*.lastbuildstate
/marsMulti/sdt/win32proj/Debug/sdt.tlog/*
/marsMulti/stn/win32proj/Debug/*.obj
/marsMulti/stn/win32proj/Debug/*.idb
/marsMulti/stn/win32proj/Debug/*.log
/marsMulti/stn/win32proj/Debug/*.pdb
/marsMulti/stn/win32proj/Debug/stn.tlog/*.tlog
/marsMulti/stn/win32proj/Debug/stn.tlog/*.lastbuildstate
/marsMulti/stn/win32proj/Debug/stn.tlog/*
/marsMulti/win32proj/.vs/v14/*.suo
/marsMulti/win32proj/Debug/*.lib
/marsMulti/win32proj/Debug/*.log
/marsMulti/win32proj/Debug/marsMulti.tlog/*.lastbuildstate
/marsMulti/win32proj/Debug/marsMulti.tlog/*
/marsMulti/win32proj/*.opendb
/marsMulti/win32proj/*.db
/marsMulti/samples/android/marsSampleChat/local.properties
.autotools
.cproject
.project
*.lib
*.pdb
marsMulti/win32proj/Debug/marsMulti.lastbuildstate
marsMulti/win32proj/Debug/marsMulti.unsuccessfulbuild


# cmake
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
.vs
marsMulti/*/Win32/Debug
marsMulti/Win32/Debug
*.dir
*.out
Debug-iphonesimulator
*.xcodeproj
*.build
cmake_build
*.settings
marsMulti/cmake-build-debug
